.viewlist-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.view-card {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 1rem;
}

.product-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 1rem;
}

.viewlist-container-horizontal {
  height: 13rem;
  padding: 1em;
  border-radius: 0.5em;
  justify-content: flex-start;
  background-color: var(--color-pureWhite);
}
